<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" Inherits="WebApp.Controls_Default_Common_CustomerServicePhone" Codebehind="CustomerServicePhone.ascx.cs" %>

<a id ="CustomerServicePhone"  class="CustomerCarePhone" runat="server"><asp:Label ID="uxCustomerServicePhone" runat="server" EnableViewState="false" ></asp:Label></a>