<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/EmailFriend/EmailFriend.ascx" TagName="EmailFriend" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:EmailFriend ID="uxEmailFriend" runat="server"  Visible="true"/></div>
</asp:Content>