<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/EmailFriend/EmailSignup.ascx" TagName="EmailSignup" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:EmailSignup ID="uxEmailSignup" runat="server"  Visible="true"/></div>
</asp:Content>
