<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>

<%@ Register Src="~/Controls/CheerandPom/Home/home.ascx" TagName="Home" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/CustomMessage/CustomMessage.ascx" TagName="CustomMessage" TagPrefix="ZNode" %>
 <%@ Register Src="~/Controls/Default/CustomMessage/HomePageBanner.ascx" TagName="HomeBanner" TagPrefix="Pefi" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="Server">
    <div id="HomepageStyle" class="row">
        <%-- <div class="HomeQuickSearch"><ZNode:QuickSearch ID="QuickSearch" runat="server"></ZNode:QuickSearch></div>--%>

     <%--   <div class="HomeSpecialsBG">
            <span class="PromoSpecialText">
                <ZNode:CustomMessage ID="HomeCustomMessage5" MessageKey="StoreSpecials" runat="server" />
            </span>
        </div>--%>

       <%-- <div class="HomePagePromo">--%>
            <%--<div id="SlideItMoo_banners_outer">
                <div id="SlideItMoo_banners_inner">
                    <div id="SlideItMoo_banners_items">
                        <ZNode:Banner ID="HomeCustomMessage1" BannerKey="HomePagePromo" IsHome="true" runat="server" />
                    </div>
                </div>
            </div>--%>
         <%--   <div class="slider1">--%>
               <%-- <ZNode:Banner ID="HomeCustomMessage1" BannerKey="HomePagePromo" IsHome="true" runat="server" />--%>
           <%-- </div>--%>
           <%-- <ZNode:CustomMessage ID="uxHomePageBanner" MessageKey="HomePageBanner" runat="server"  />
        </div>--%>
        <Pefi:HomeBanner ID="ucHomePageBanner" runat="server" />
           <%--<ZNode:CustomMessage ID="CustomMessage1" MessageKey="HomePageBanner" runat="server"  />--%>
        <%--<div class="HomePagePromoRightTop">
            <ZNode:Banner ID="HomeCustomMessage2" BannerKey="HomePagePromoRightTop" IsHome="true" runat="server" /> 
        </div>

        <div class="HomePagePromoRightBottom" >
            <ZNode:Banner ID="HomeCustomMessage3" BannerKey="HomePagePromoRightBottom" IsHome="true" runat="server" />
        </div>--%>

        <ZNode:CustomMessage ID="ucHomeLeftSectionMessage" MessageKey="HomeTopRightBlock" runat="server" />

        <div>
            <ZNode:Home ID="uxHome" runat="server" Visible="true" />
        </div>
    </div>
</asp:Content>
