﻿<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Account/PUnsubscribe.ascx" TagName="Unsubscribe" TagPrefix="Perficient" %>
<asp:content id="Content1" contentplaceholderid="MainContent" runat="server">
     <div>
        <Perficient:Unsubscribe ID="UCUnsubscribe" runat="server" />
    </div>
</asp:content>
