<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/QuickOrder/QuickOrder.ascx" TagName="QuickOrder" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <ZNode:QuickOrder ID="uxQuickOrder" runat="server" />
</asp:Content>