﻿<%@ Master Language="C#" AutoEventWireup="true"  MasterPageFile="main.master" %>
 <%@ Register Src="~/Controls/Default/SearchEngine/SearchList.ascx" TagName="SearchList" TagPrefix="ZNode" %> 
<asp:content id="Content1" contentplaceholderid="MainContent" runat="Server">
    <div class="ContentContainer">
       <ZNode:SearchList ID="SearchList" runat="server"  Title="SearchList"></ZNode:SearchList>
    </div>
</asp:content>
