﻿<%@ Master Language="C#" MasterPageFile="~/Themes/CheerAndPom/MasterPages/main.master" AutoEventWireup="true" %>
<%@ Register  Src="~/Controls/Default/Brand/ZAllBrands.ascx" TagName="ShowAllBrands" TagPrefix="Zeon" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <Zeon:ShowAllBrands ID="uxAllBrands" runat="server" />
</asp:Content>
