<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="True" ValidateRequest="false" Inherits="SiteAdmin.Secure.Orders.CustomerManagement.Customers.AddAffiliatePayment" Codebehind="AddAffiliatePayment.aspx.cs" %>

<%@ Register Src="~/SiteAdmin/Controls/Default/Accounts/AffiliatePayment.ascx" TagName="AffiliatePayment" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">
      <ZNode:AffiliatePayment ID="uxAffiliatePayment" runat="server" RoleName = "" />
</asp:Content>
