<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Content/Content.ascx" TagName="Content" TagPrefix="ZNode" %>

<asp:Content ID="MainContent" ContentPlaceHolderID="MainContent" Runat="Server">
<div class="Content">
  <ZNode:Content ID="uxContent" runat="server"  Visible="true"/>
</div>
</asp:Content>
