﻿<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>

<%@ Register Src="~/Controls/Default/Checkout/Address.ascx" TagName="Address" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="Server">
    <div class="ContentContainer">
        <asp:UpdatePanel ID="upPnlEditAddress" runat="server">
            <ContentTemplate>
                <asp:UpdateProgress ID="updPrgEditAddress" DisplayAfter="0" runat="server" AssociatedUpdatePanelID="upPnlEditAddress"
                    DynamicLayout="True">
                    <ProgressTemplate>
                        <div style="position: relative; top: 30%; text-align: center;" class="updateProgress">
                            <img id="imgProductloader" src="Themes/Default/Images/loading.gif" />
                            &nbsp; 
                        <span id="spnLoadingMesaage">Please wait..</span>
                        </div>
                    </ProgressTemplate>
                </asp:UpdateProgress>
                <ajaxToolKit:ModalPopupExtender ID="ModalProgress" runat="server" TargetControlID="updPrgEditAddress"
                    BackgroundCssClass="modalBackground" PopupControlID="updPrgEditAddress" />
                <ZNode:Address ID="uxAddress" runat="server" Visible="true" />

            </ContentTemplate>
        </asp:UpdatePanel>
        <script language="javascript" type="text/javascript">
            //Script for Modal progress bar
            var ModalProgress = '<%= ModalProgress.ClientID %>';
            Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(beginReq);
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(endReq);
            function beginReq(sender, args) {
                // shows the Popup 
                $find(ModalProgress).show();
            }

            function endReq(sender, args) {
                //  hide Popup 
                $find(ModalProgress).hide();
            }
        </script>
    </div>
</asp:Content>
