<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Account/ForgotPassword.ascx" TagName="ForgotPassword" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:ForgotPassword ID="uxForgotPassword" runat="server"  Visible="true"/></div>
</asp:Content>