<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Checkout/OrderReceipt.ascx" TagName="OrderReceipt" TagPrefix="ZNode" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="Server">
    <div class="ContentContainer">
        <ZNode:OrderReceipt ID="uxOrderReceipt" runat="server" Visible="true" />
    </div>
</asp:Content>



