﻿<%@ Master Language="C#" MasterPageFile="~/Themes/Default/MasterPages/main.master" %>
<%@ Register Src="~/Controls/Default/Checkout/PaymentThankyou.ascx" TagName="PaymentThankyou" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
 <div class="ContentContainer"><ZNode:PaymentThankyou ID="uxPaymentThankyou" runat="server"  Visible="true"/></div>
</asp:Content>
