<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/StoreLocator/StoreLocator.ascx" TagName="StoreLocator" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <ZNode:StoreLocator id="StoreLocator1" runat="server" />
</asp:Content>
