﻿<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master"  %>

<%@ Register Src="~/Controls/Default/Common/ZPageNotFound.ascx" TagName="PageNotFound" TagPrefix="Zeon" %>

<asp:Content ID="ctPageNotFound" ContentPlaceHolderID="MainContent" runat="server">
    <Zeon:PageNotFound ID="uxPageNotFound" runat="server" />
</asp:Content>
