﻿<%@ Master Language="C#" MasterPageFile="~/Themes/Default/MasterPages/main.master" AutoEventWireup="true" %>
<%@ Register Src="~/Controls/Default/zLandingPages/ZShoeFinder.ascx" TagName="ShoeFinder" TagPrefix="Zeon" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <Zeon:ShoeFinder ID="uxShoeFinder" runat="server" />
</asp:Content>
