﻿<%@ Master Language="C#" MasterPageFile="~/Themes/Default/MasterPages/main.master" AutoEventWireup="true"  %>
<%@ Register Src="~/Controls/Default/zLandingPages/ZWinFreeShoes.ascx" TagName="WinFreeShoes" TagPrefix="Zeon" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <Zeon:WinFreeShoes ID="uxWinFreeShoes" runat="server" />
</asp:Content>
