<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/price/price.ascx" TagName="Price" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/category/navigationcategories.ascx" TagName="NavigationCategories" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/specials/navigationspecials.ascx" TagName="NavigationSpecials" TagPrefix="ZNode" %>
<%--<%@ Register Src="~/Controls/Default/common/QuickSearch.ascx" TagName="QuickSearch" TagPrefix="ZNode" %>--%>
<%@ Register Src="~/Controls/Default/navigation/NavigationBreadCrumbs.ascx" TagName="StoreBreadCrumbs" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/navigation/navigationbrand.ascx" TagName="NavigationBrand" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/price/navigationprice.ascx" TagName="NavigationPrice" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/CustomMessage/CustomMessage.ascx" TagName="CustomMessage" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
	<div id="LeftColumn">
		<%--<ZNode:QuickSearch ID="QUICK_SEARCH" runat="server"></ZNode:QuickSearch>--%>
		<ZNode:NavigationCategories ID="CATEGORIES" runat="server"></ZNode:NavigationCategories>
		<ZNode:NavigationSpecials ID="SPECIALS" runat="server"></ZNode:NavigationSpecials>
			
        <div id="NewsLetter">
            <div class="Title"><uc1:CustomMessage ID="CustomMessage1" MessageKey="LeftNavigationNewsletterSignupTitle" runat="server" /></div>
            <a id="A1" class="Text" href="~/EmailSignup.aspx" runat="server"><uc1:CustomMessage ID="CustomMessage2" MessageKey="LeftNavigationNewsletterSignupLinkText" runat="server" /></a>
        </div>	
	</div>
	
    <div id="SeperateColumn"></div>
    
	<div id="MiddleColumn">
		<div id="BreadCrumb"><ZNode:StoreBreadCrumbs ID="BREAD_CRUMBS" runat="server"></ZNode:StoreBreadCrumbs></div>
		<div><ZNode:Price ID="uxPrice" runat="server"  Visible="true"/></div>
	</div>
</asp:Content>