<table width="650" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="border-top: 1px solid #af64a8; border-bottom: 1px solid #af64a8; border-left: 1px solid #af64a8; border-right: 1px solid #af64a8; display: table;">
    <tr>
        <td align="left" valign="top" width="650">
            <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                <tr bgcolor="#ffffff" style="border-bottom: 0;">
                    <td align="left" valign="top">
                        <table width="650" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" valign="top" width="650">
                                    <table width="650" border="0" cellspacing="0" cellpadding="0">
                                        <!-- Header Start -->
                                        <tr>
                                            <td align="left" valign="top" width="650">

                                                <table width="650" border="0" cellspacing="0" cellpadding="0">
                                                    <tr style="background-color: #ffffff">
                                                        <td align="left" valign="top" width="300" style="padding-left: 10px; padding-top: 12px;cursor:pointer;"><a href="#SiteURL#" title="Rogans Shoes" target="_blank">
                                                            <img style="display: block" border="0" src="#SiteLogo#" alt="Cheer and Pom" style="padding-top: 20px" /></a>
                                                        </td>
                                                        <td align="right" valign="top" width="350" style="padding: 15px 10px 10px 0">
                                                            <p style="font-size: 17px; font-family: Arial, Helvetica; color: #af64a8; font-weight: 800; padding: 10px 0 10px 0; margin: 0">#CustomerCarePhoneNo#</p>
                                                            <p style="font-size: 17px; font-family: Arial, Helvetica; font-weight: 800; padding: 5px 0; margin: 0"><a href="#MailToCustomerCareEmailId#" style="color: #af64a8; text-decoration: none; padding-bottom: 10px">#CustomerCareEmailId#</a></p>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #af64a8">
                                                        <td align="left" valign="top" width="350" height="5">
                                                            <!-- <p style="font-family: Arial, Helvetica;font-size:16px;font-weight:100;color: #fff"><a href="#" title="Free Shipping" target="_blank" style="text-decoration:none;color:#fff" ><img style="float:left;margin-right:10px" border="0"  height="32" width="31" src="images/FreeShipping.jpg" alt="Free Shipping" /><span style="font-family: Arial, Helvetica;font-size: 17px;text-transform:uppercase">Always free shipping</span> to the lower 48 U.S. States!*</p> -->
                                                        </td>
                                                        <td align="right" valign="bottom" width="300" height="5"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- Header End -->
                                        <tr>
                                            <td align="left" valign="top" width="650" style="font-size: 16px; font-family: Arial, Helvetica; padding: 0 10px;">
                                                <br />
                                                <b style="font-size: 16px; font-family: Arial, Helvetica;">Dear #FirstName#  #LastName#, </b>
                                                <br />
                                                <br />
                                                <div style="font-size: 16px; font-family: Arial, Helvetica;">Thanks for your purchase with us!</div>
                                                <br />
                                                <div style="font-size: 16px; font-family: Arial, Helvetica;">We appreciate your purchase from Cheer and Pom.  When you write a review, you help countless other <a href="#SiteLink#"  target="_blank" style="cursor:pointer">CheerandPom.com</a> customers with their buying decision. Reading customer reviews are helpful to let others know how this particular item fits and feels and helps with deciding whether or not a customer should purchase the product. Please take a moment to <span style="color:#af64a8">Write a Review</span> and help out others in the process and we will send you a promotion code for 10% off your next purchase.</div>
                                                <br />
                                                <div style="font-size: 16px; font-family: Arial, Helvetica;">Click on the stars below to review your purchase.</div>
                                                <br />
                                            </td>
                                        </tr>
                                        <!--Configurable Section Starts -->
                                        #OrderLineItemText#
									<!--Configurable Section Ends -->
                                        <tr style="padding-bottom:5px;">
                                            <td style="font-size: 14px; font-family: Arial, Helvetica; padding: 0 10px;"  align="left" valign="top"  width="650">This email was sent by Cheer And Pom, Incorporated, 1750 Ohio Street, Racine, Wisconsin 53405, United States.  Our email address is <a href="mailto:customerservice@cheerandpom.com?subject=Thank you for signing up for our email newsletters.">customerservice@cheerandpom.com</a>.<br />
                                                <br />
                                                  You may <a href="#UnSub#">UNSUBSCRIBE</a> or <a href="#ChangeContact#" >CHANGE YOUR CONTACT DETAILS</a> at any time.<br /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Footer Start -->
    <tr bgcolor="#ffffff">
        <td align="center" valign="middle" style="padding: 10px 0 10px 0; background: #af64a8">
            <p style="font-family: Arial, Helvetica; font-size: 14px; font-style: italic; text-align: center; color: #fff; margin: 0; padding: 0">&copy;#CopyRightText#</p>
        </td>
    </tr>
    <!-- Footer End -->
</table>

