﻿.OrderReceipt .Head{background-color: #681D45; color:white; font-size: 1.5em; font-weight: bold; padding: .5em; border-bottom: solid 1px #681D45;}
.OrderReceipt .SubHead{color: #681D45;font-weight: bold; font-size: 11px; padding-bottom:5px; }
.OrderReceipt .SubHead1{color: #681D45;font-weight: bold; font-size: 11px; padding-bottom:5px; Position:Relative; }
.OrderReceipt .SubHeadText{Position:Relative; }
.OrderReceipt .ReceiptTable {font-family: Verdana, Helvetica, sans-serif; color: #333333;font-size: 10px;}
.OrderReceipt .ReceiptText {font-family: Verdana; color: #333333;font-size: 11px;}
.OrderReceipt .Product {padding-left:5px;padding-right:5px;}
.OrderReceipt .DetailsHeader {background-color:#681D45}
.OrderReceipt .DetailsHeader .ForeColor {color:white; text-align:left;}
.OrderReceipt .Product table td { border:silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333;font-size: 10px;}
.OrderReceipt .Feedback{color:#681D45;}
.OrderReceipt .Border {font-family: Arial, Helvetica; font-size: 10px; text-align: left; color: #4F893F; border: solid 1px #681D45; margin-top:10px;}
.OrderReceipt .Spacer { margin-bottom:5px; }
.OrderReceipt .Border .FeedBackLink a:link { font-size:11px; color: #333333; text-decoration: none; Position:Relative; }
.OrderReceipt .Border .FeedBackLink a:visited { font-size:11px; color: #333333; text-decoration: none; Position:Relative; }
.OrderReceipt .Border .FeedBackLink a:hover { font-size:11px; color: #666666; text-decoration: none; Position:Relative;  }
.OrderReceipt .Border .FeedBackLink a img{ border:none; }