<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <title>Customer Receipt</title>
    <style type="text/css">
        {{StyleSheetPath}</style>
</head>
<body>
    <div class="OrderReceipt">
        <div class="Border">
            <div class="Head">{SiteName}&#160;Customer Receipt</div>
            <div style="padding: 10px;">
                <div class="ReceiptText">{ReceiptText}</div>
                <table cellpadding="0" cellspacing="3" border="0" class="ReceiptTable" width="100%">
                    <tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="true" colspan="2">
                            <div class="SubHead">
                                Order Information</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Order Number:</strong> {OrderId}
                        </td>
                    </tr>
                    <tr>
                        <td align="Left" nowrap="nowrap">
                            <strong>Order Date:</strong> {OrderDate}
                        </td>                      
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Account Number:</strong> {AccountId}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Promotion Code:</strong> {PromotionCode}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Payment Method:</strong> {PaymentName}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>TransactionID:</strong> {CardTransactionID}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Purchase Order Number:</strong> {PONumber}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="true" colspan="2">
                            <div class="SubHead">
                                Customer Service</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>E-Mail:</strong> {CustomerServiceEmail}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Phone:</strong> {CustomerServicePhoneNumber}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap" colspan="2" class="ReceiptTable">
                            <div class="SubHead">
                                Billing Address</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="Left" nowrap="nowrap" colspan="2">
                            {BillingAddress}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            <div class="SubHead">
                                Shipping Address</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {ShippingAddress}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>
                    <tr>
                     <td colspan="2" align="left">
                        <div class="Product">
                            <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                <tr class="DetailsHeader">
                                    <td align="center" class="ForeColor">
                                        <strong>Qty</strong>
                                    </td>
                                    <td class="ForeColor">
                                        <strong>Item</strong>
                                    </td>
                                    <td class="ForeColor" align="right">
                                        <strong>Price</strong>
                                    </td>
                                </tr>
                                <tr {LineItems}>
                                    <td align="center">
                                        {Quantity}
                                    </td>
                                    <td align="left">
                                        {Name}
                                    </td>
                                    <td align="right">
                                        {ExtendedPrice}
                                    </td>
                                </tr>
                                <tr {AmountLineItems}>
                                    <td  colspan="2" align="right" style="border: none;">
                                        <strong>{Title}</strong>
                                    </td>
                                    <td align="right">
                                        {Amount}
                                    </td>
                                </tr> 
                                <tr>
                                    <td colspan="2" align="right" style="border: none;">
                                        <div class="SubHead">Total</div>
                                    </td>
                                    <td align="right">
                                        <strong>{TotalCost}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="left" nowrap="true" style="border:none;">
                                        <div class="SubHead">
                                            Additional Instructions</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  colspan="3" align="left" style="border:none;">
                                        <div align="justify">
                                            {AdditionalInstructions}</div>
                                    </td>
                                </tr>  
                                <tr>
                                    <td colspan="3" style="border: none;">
                                        <div class="Spacer">&#160;</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="left" style="border: none;" class="FeedBackLink">                                      
                                        <a href="{FeedBack}">Click here to give us feedback on your ordering experience.</a>                                      
                                    </td>
                                </tr>                                                        
                            </table>
                          </div>
                       </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
