﻿  </td>
                    </tr>
                    
                    <tr>
                      <td align="left" valign="top" width="650">
                        <img style="display:block" border="0"  height="10" width="10" src="<#SpacerImage#>" alt="" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Footer Start -->
  <tr bgcolor="#ffffff" >
    <td align="center" valign="middle" style="padding:10px 0 10px 0;background:#af64a8"><p style="font-family: Arial, Helvetica;font-size: 14px;font-style: italic;text-align: center;color:#fff;margin:0;padding:0">&copy;#CopyRightText#</p></td>
  </tr>
  <!-- Footer End -->
</table>

