<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="DownloadAttributes.ascx" TagName="DownloadAttributes" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:DownloadAttributes ID="DownloadAttributes1" runat="server" />
</asp:Content>

