<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="DownloadTags.ascx" TagName="DownloadTags" TagPrefix="ZNode" %>


<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">
    <div><ZNode:DownloadTags ID="DownloadTag" runat="server" /></div>
</asp:Content>
