<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="UpdateSku.ascx" TagName="UpdateSku" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:UpdateSku ID="uxUpdateSku" runat="server" />
</asp:Content>
