<table style="width: 100%;">
<tbody>
<tr>
<td valign="top">
<table style="width: 100%;">
<tbody>
<tr>
<td align="left">
<p>We'd love to measure everyone's foot personally, but our travel budget says otherwise. So instead, we'd like to offer these simple shoe fit tips to help you find the perfect fit both before and after you buy.</p>
<p>Before You Buy</p>
<ul>
<li>
<p><strong>Check your current size.</strong> Pick out the most comfortable shoes in your closet and see what size and brand they are. That's the shoe size you should start with.</p>
</li>
<li>
<p><strong>Feet change over time.</strong> What size you were at nineteen might not be what size you are at sixty-three (though we sincerely hope you bought at least one pair of new shoes in those 44 years).</p>
</li>
<li>
<p><strong>Brands vary.</strong> While sizing will remain consistent within a single brand, it could vary up to one full size between brands due to manufacturing quirks. Check the product description and customer reviews for fit tips.</p>
</li>
</ul>
<p>When They Arrive</p>
<p>Your shoes should be comfortable right out of the box. Shoes that hurt now will more than likely hurt a month from now, so make sure they're comfortable and don't slip in the heel. Read on for more specific tips.</p>
<ul>
<li>
<p><strong>Athletic Shoes</strong> generally run short so try sizing up by half a size.</p>
</li>
<li>
<p><strong>Running Shoes</strong> should feel a bit more snug than street shoes. It's important that the shoe not pinch or cramp the toes or let the feet slide forward, jamming the toes against the front.</p>
</li>
<li>
<p><strong>Hiking Boots</strong> should be a little longer than other shoes. When you're headed down a hill, you want a little extra room at the toe.</p>
</li>
<li>
<p><strong>Dress Boots</strong> are designed with a broader heel counter to allow your heel to drop right in, so they may be a little snug at the forefoot. It's normal for the heel to slip slightly until the boot breaks in and molds to your heel.</p>
</li>
<li>
<p><strong>Lace-Up Shoes</strong> should be tried on unlaced. Tap the back of your heel lightly to set it in the proper spot in the shoe, then lace the shoe comfortably.</p>
</li>
<li>
<p><strong>Slip-On Shoes</strong> shouldn't allow any excess foot movement as you don't want the front of your foot sliding around.</p>
</li>
</ul>
<p>Still have questions? Give us a call at <strong>1.800.976.4267</strong> and we'll be glad to help.</p>
</td>
</tr>
</tbody>
</table>
</td>
<!-- End of First Column in this page -->
<td width="5%">&nbsp;</td>
<!-- Middle Column of Space -->
<td valign="top"><!--  Right Column with Sizes, Widths and More Tips -->
<table style="width: 100%;">
<tbody>
<tr>
<td>
<p>While we try our best to show our shoes in US sizes, we're not always perfect (despite what our mothers keep telling us). Which is why we've come up with a one-size-fits-all shoe size conversion chart to help guide you to find the perfect fit.</p>
<p>Keep in mind that sizing may vary slightly by manufacturer, so peek at customer reviews and the product description to see if the shoe fits true to size or not.</p>
</td>
</tr>
<tr>
<td align="center"><strong>Mens Size Conversion</strong></td>
</tr>
<tr>
<td><!-- Beginning of Men's Size Conversion -->
<table style="width: 90%;" align="center">
<tbody>
<tr>
<td align="center">US Size</td>
<td align="center">British</td>
<td align="center">European</td>
</tr>
<tr>
<td align="center">6</td>
<td align="center">5</td>
<td align="center">39</td>
</tr>
<tr>
<td align="center">6.5</td>
<td align="center">5</td>
<td align="center">39</td>
</tr>
<tr>
<td align="center">7</td>
<td align="center">6</td>
<td align="center">40</td>
</tr>
<tr>
<td align="center">7.5</td>
<td align="center">6</td>
<td align="center">40</td>
</tr>
<tr>
<td align="center">8</td>
<td align="center">7</td>
<td align="center">41</td>
</tr>
<tr>
<td align="center">8.5</td>
<td align="center">7</td>
<td align="center">41/42</td>
</tr>
<tr>
<td align="center">9</td>
<td align="center">8</td>
<td align="center">42</td>
</tr>
<tr>
<td align="center">9.5</td>
<td align="center">8</td>
<td align="center">43</td>
</tr>
<tr>
<td align="center">10</td>
<td align="center">9</td>
<td align="center">43</td>
</tr>
<tr>
<td align="center">10.5</td>
<td align="center">9</td>
<td align="center">44</td>
</tr>
<tr>
<td align="center">11</td>
<td align="center">10</td>
<td align="center">44</td>
</tr>
<tr>
<td align="center">11.5</td>
<td align="center">10</td>
<td align="center">45</td>
</tr>
<tr>
<td align="center">12</td>
<td align="center">11</td>
<td align="center">46</td>
</tr>
<tr>
<td align="center">12.5</td>
<td align="center">11</td>
<td align="center">46</td>
</tr>
<tr>
<td align="center">13</td>
<td align="center">12</td>
<td align="center">47</td>
</tr>
<tr>
<td align="center">14</td>
<td align="center">13</td>
<td align="center">48</td>
</tr>
<tr>
<td align="center">15</td>
<td align="center">14</td>
<td align="center">49</td>
</tr>
<tr>
<td align="center">16</td>
<td align="center">15</td>
<td align="center">50</td>
</tr>
</tbody>
</table>
</td>
<!-- End of Men's Size Charts --></tr>
<tr>
<td width="5%">&nbsp;</td>
</tr>
<tr>
<td>
<p>Similarly, brands use different terms for shoe widths. The chart below will help you match the terminology used by RogansShoes.com (shown in the left column) with the brands (right column).</p>
</td>
</tr>
<tr>
<td colspan="3">
<table style="width: 100%; border: thin;">
<tbody>
<tr>
<td align="center"><strong>Mens Width Conversion</strong></td>
</tr>
<tr>
<td>
<table style="width: 100%;">
<tbody>
<tr>
<td align="right">XXX Narrow</td>
<td rowspan="12" width="5%">&nbsp;</td>
<td>3A</td>
</tr>
<tr>
<td align="right">XX Narrow</td>
<td>2A, AA</td>
</tr>
<tr>
<td align="right">X Narrow</td>
<td>A</td>
</tr>
<tr>
<td align="right">Narrow</td>
<td>B, N</td>
</tr>
<tr>
<td align="right">Med Narrow</td>
<td>C</td>
</tr>
<tr>
<td align="right">Medium</td>
<td>D, M, R</td>
</tr>
<tr>
<td align="right">Med Wide</td>
<td>E</td>
</tr>
<tr>
<td align="right">Wide</td>
<td>W, Wide</td>
</tr>
<tr>
<td align="right">X Wide</td>
<td>EE, 2E, WW, XW, X</td>
</tr>
<tr>
<td align="right">XX Wide</td>
<td>XX</td>
</tr>
<tr>
<td align="right">XXX Wide</td>
<td>3E, EEE, EW, 4E, H</td>
</tr>
<tr>
<td align="right">XXXX Wide</td>
<td>5E, 6E</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>