<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Contact/CustomerFeedback.ascx" TagName="CustomerFeedback" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:CustomerFeedback ID="uxCustomerFeedback" runat="server"  Visible="true"/></div>
</asp:Content>