﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ZProductAttributes.ascx.cs" Inherits="WebApp.ZProductAttributes" %>
<div id="Attributes">
    <asp:Panel ID="pnlOptions" runat="server" Visible=" false">
        <asp:PlaceHolder runat="server" ID="ControlPlaceHolder"></asp:PlaceHolder>
    </asp:Panel>
</div>
