﻿<%@ Master Language="C#" MasterPageFile="~/Themes/CheerAndPom/MasterPages/main.master" AutoEventWireup="true" %>
<%@ Register Src="~/Controls/Default/Product/ZProductComparison.ascx" TagName="ProductComparison" TagPrefix="Zeon" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <Zeon:ProductComparison ID="uxProductCompare" runat="server" />
</asp:Content>
