<%@ Control Language="C#" AutoEventWireup="True" Inherits="SiteAdmin.Controls.Default.ProductAttributeGrid" CodeBehind="ProductAttributeGrid.ascx.cs" %>

<div class="AttributeGrid" id="AttributeGrid" runat="server">
    <b>
        <asp:Label ID="lbltext" runat="server" Visible="false"></asp:Label></b><br />
    <asp:Literal ID="ui_Grid" Text="&nbsp" runat="server"></asp:Literal>
    <asp:PlaceHolder ID="ControlPlaceHolder" runat="server" />
</div>
