<%@ Control Language="C#" AutoEventWireup="True" Inherits="SiteAdmin.Controls.Default.Profilelist" CodeBehind="Profilelist.ascx.cs" %>
<asp:DropDownList ID="ddlprofilleList" runat="server"></asp:DropDownList>