<%@ Control Language="C#" AutoEventWireup="True" Inherits="SiteAdmin.Controls.Default.SalesDepartmentPhone" CodeBehind="SalesDepartmentPhone.ascx.cs" %>
<asp:Label ID="uxSalesDepartmentPhone" runat="server" Text="Label"></asp:Label>