<%@ Control Language="c#" Inherits="SiteAdmin.Controls.Default.Spacer" CodeBehind="Spacer.ascx.cs" AutoEventWireup="True" %>
<asp:Image ID="imgClear" runat="server" ImageUrl="~/SiteAdmin/Themes/images/clear.gif"></asp:Image><br />
