<%@ Master Language="C#" AutoEventWireup="true" Inherits="SiteAdmin.admin_themes_standard_order" Codebehind="order.master.cs" %>

<%@ Register Src="~/SiteAdmin/Controls/Default/spacer.ascx" TagName="spacer" TagPrefix="ZNode" %>
<%@ Register Src="~/SiteAdmin/Controls/Default/Footer.ascx" TagName="Footer" TagPrefix="ZNode" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link id="Link1" href="~/SiteAdmin/Themes/Standard/style.css" type="text/css" rel="stylesheet" />	
</head>
<body>
    <!-- to apply css rules for IE 7 only -->
    <!--[if IE 7]>
	    <div id="ie7css">
	    <![endif]-->
    <form id="form1" runat="server">
    <ajaxToolKit:ToolkitScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="true" />
    <div id="Container">
        <div class="HeaderPane">
            <div class="BackgroundLeft">
                <znode:spacer ID="Spacer1" runat="server" spacerheight="7" spacerwidth="7" />
            </div>
            <div class="BackgroundMiddle">
                <div class="Logo">
                    <img id="Img1" alt="" src="~/SiteAdmin/Themes/images/multifront_logo.png" runat="server" /></div>
              
                <div class="RightElement">
                    <div class="WelcomeNote">
                        WELCOME
                        <asp:LoginName ID="uxLoginName" runat="server" />
                    </div>
                    <div class="Links">
                        <span class="LinkItem"><a target="_blank" href="http://help.znode.com">HELP</a></span><span
                            class="LinkItem"><asp:LoginStatus ID="uxLoginStatus" LogoutAction="Redirect" LogoutPageUrl="~/SiteAdmin/Default.aspx"
                                runat="server" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="BackgroundRight">
                <znode:spacer ID="Spacer2" runat="server" spacerheight="7" spacerwidth="7" />
            </div>
        </div>
        <div class="HeaderSpacer">
            <znode:spacer ID="Spacer3" runat="server" spacerheight="1" spacerwidth="1" />
        </div>
        <div class="MenuPane">
            <div class="BackgroundLeft">
            </div>
            <div class="BackgroundMiddle">
                
            </div>
            <div class="BackgroundRight">
            </div>
        </div>
        <div class="ContentPane">
            <div class="Content">               
                <div style="text-align: left;">
                    <div class="LandingPage">
                        <asp:ContentPlaceHolder ID="uxMainContent" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
            </div>
            <img id="Img5" align="top" alt="" src="~/images/background/content_box_bottom.png" runat="server" />
        </div>
            <znode:spacer ID="Spacer4" runat="server" spacerheight="8" spacerwidth="1" />
        <div>
            <znode:footer id="uxFooter" runat="server" />
        </div>
    </div>
    <div style="display:none;">
        <asp:SiteMapPath ID="Sitemap" runat="server" SiteMapProvider="ZNodeAdminSiteMap">
        </asp:SiteMapPath>
    </div>
    </form>
    <!--[if IE 7]>
	     </div>
	     <![endif]-->
</body>
</html>
